.App {
  text-align: center;
}

html,
body {
	height: 100%;
}

.mainContainter {
}

.leftPanel{
  background-color: #7A68D8;
  width: 50%;
}

.rightPanel{
  background-color: #cc2525;
  width: 50%;
}
